* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mytable {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
   
    td {
    border: solid gray .001rem;
        padding: .2em;
    }
    
    
    
}